$nav-bg-color: black;

.logo {
  height: 50px;
  width: 150px;
  margin-left: 20px;
}
.navigation {
  background-color: $nav-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 0;
  position: relative;
}

.navigation-container {
  ul {
    list-style-type: none;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  li {
    display: inline;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 22px;
  }
  .nav-link {
    display: inline;
  }
}
